<br><br>
<!DOCTYPE html>
<head>

</head>
<html>

    <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br><br>
    <div id="content">
    
        <h1>Spotify Browser</h1>
        <br><br>

        <div class="row">
            <div class="column">
                <img [src]="image1" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image2" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image3" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image4" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image5" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image6" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image7" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image8" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image9" width = "200" height="" >
                <p></p>
            </div>
            <div class="column">
                <img [src]="image10" width = "200" height="" >
                <p></p>
            </div>
        </div>

    </div>

</html>